.delete-habit-container {
    padding: 1rem;
  }
  
  .delete-habit-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .delete-habit-list {
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    list-style: none;
    padding: 0.2rem;
  }
  .delete-habit-info{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style: none;
    font-size: 1.5rem;
  }
  .delete-habit-item.completed {
    padding: 1rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bdfabd; 
  }
  .delete-habit-item.uncompleted {
    padding: 1rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdd1d1; 
  }
  
  .delete-habit-item h3 {
    margin: 0;
  }
  
  .delete-habit-item p {
    margin: 0.5rem 0 0;
    font-size: 0.9rem;
    color: #555;
  }
  
  .delete-habit-button {
    background-color: red;
    color: white;
    padding: 0.5rem 1rem;
    margin: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .delete-habit-button:hover {
    background-color: darkred;
  }
  
  .success-message {
    display: flex;
    justify-content: center;
    color: green;
    margin-top: 1rem;
  }
  
  .error-message {
    display: flex;
    justify-content: center;
    color: red;
    margin-top: 1rem;
  }
  .habit-status-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem; 
    margin-bottom: 1rem; 
  }
  
  .status-button-completed {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px; 
    height: 40px; 
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    background-color: #d4edda; 
    color: #155724; 
    border: 1px solid #c3e6cb;
    pointer-events: none; 
  }
  .status-button-uncompleted {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px; 
    height: 40px; 
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    background-color: #f8d7da; 
    color: #721c24; 
    border: 1px solid #f5c6cb;
    pointer-events: none; 
  }

  